.leftSidebar {
  width: 20em;
  position: fixed;
  bottom: 0;
  top: 4em;
  background-color: #467abf;
  color: #fff;
  overflow-y: scroll;
  font-size: 1em;
  border-right: 1px solid rgba(255,255,255,0.35);
}
.leftSidebar .mini-header {
  padding: 0.5em;
  background-color: #2768bf;
}
.leftSidebar .mini-header img {
  width: 7em;
  margin: 1em auto;
}
.leftSidebar .mini-header .name {
  font-weight: 600;
  padding: 0.25em 0em;
  background-color: rgba(0,0,0,0.25);
}
.leftSidebar .searchRow {
  width: 80%;
  margin: 1em auto;
}
.leftSidebar .menu {
  list-style: none;
  padding: 0;
}
.leftSidebar .menu ul {
  list-style: none;
  padding: 0;
}
.leftSidebar .menu>li:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.35);
}
.leftSidebar .menu a {
  text-decoration: none;
  color: inherit;
}
.leftSidebar .menu li {
  border-top: 1px solid rgba(255,255,255,0.35);
}
.leftSidebar .menu .item {
  display: flex;
  padding: 0.5em 0.75em;
  font-weight: 600;
  font-size: 1.1em;
  border-left: 5px solid rgba(255,255,255,0.35);
}
.leftSidebar .menu .item .icon {
  margin-right: 0.75em;
}
.leftSidebar .menu .sub-menu li {
  padding: 0em 1.35em;
  border-left: 5px solid rgba(255,255,255,0.35);
  font-size: 1em;
}
.leftSidebar .menu .sub-menu li a {
  display: block;
  border-left: 1px dashed rgba(255,255,255,0.35);
  padding: 0.5em 1.5em;
  position: relative;
}
.leftSidebar .menu .sub-menu li a i {
  margin-right: 0.75em;
}
.leftSidebar .menu .sub-menu li a:hover {
  font-weight: 600;
}
.leftSidebar .menu .sub-menu li a:hover:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 44%;
  left: -1px;
}
.mainContent {
  padding: 6em 2em 2em 2em;
  margin-left: 20em;
}
.header {
  height: 4em;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #467abf;
  color: #fff;
  z-index: 50;
}
.header a {
  color: #fff;
}
.header ul {
  display: flex;
}
.employeeTableView .employeeTable img {
  width: 4em;
}
.employeeTableView .employeeTable td {
  line-height: 4em;
}
.elderListTableView .elderListTable img {
  width: 4em;
}
.elderListTableView .elderListTable td {
  line-height: 4em;
}
.elderNotResidentListTableView .elderNotResidentListTable img {
  width: 4em;
}
.elderNotResidentListTableView .elderNotResidentListTable td {
  line-height: 4em;
}
.u-disabled {
  display: none;
}
.u-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1,1,1,0.5);
}
.paginationView {
  display: flex;
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.col-fit {
  width: 1%;
  white-space: nowrap;
}
