.leftSidebar {
  width: 22em;
  position: fixed;
  bottom: 0;
  top: 4.35em;
  background-color: #467abf;
  color: #fff;
  padding: 1.5em;
  overflow-y: scroll;
  font-size: 0.9em;
}
.leftSidebar a {
  color: #fff;
  text-decoration: none;
}
.leftSidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
}
.leftSidebar ul>li {
  padding: 0.5em 0em;
  font-weight: 600;
}
.leftSidebar ul>li>ul {
  margin-left: 1em;
}
.leftSidebar ul>li>ul>li {
  cursour: pointer;
  padding-left: 1em;
}
.leftSidebar ul>li>ul>li:hover {
  background-color: #2870d0;
  font-weight: 600;
}
.leftSidebar .searchRow {
  margin: 1em 0em;
}
.leftSidebar .buttonHomeRow {
  display: flex;
  justify-content: center;
  margin: 1em 0em;
}
.leftSidebar .buttonHomeRow button {
  width: 80%;
}
.leftSidebar .imageRow {
  display: flex;
  justify-content: center;
}
.mainContent {
  padding: 2em;
  margin-left: 22em;
}
.header {
  height: 4em;
  display: flex;
  background-color: #467abf;
  color: #fff;
}
.header a {
  color: #fff;
}
.header ul {
  display: flex;
}
.elderEditView h3 {
  text-align: center;
}
.elderEditView form {
  min-width: 30em;
  max-width: 40em;
  margin: auto;
}
.elderEditView .submitRow {
  display: flex;
  justify-content: center;
}
.elderShowView h3 {
  text-align: center;
}
.elderShowView .alert {
  min-width: 30em;
  max-width: 40em;
  margin: auto;
}
.elderShowView .table {
  min-width: 30em;
  max-width: 45em;
  margin: 1em auto;
}
.elderShowView .buttonsRow {
  display: flex;
  justify-content: center;
}
.elderShowView .buttonsRow button {
  margin: 0em 5%;
}
.instanceWaitingShowView .panel {
  width: 35em;
  margin: auto;
}
.instanceWaitingShowView h3 {
  text-align: center;
}
.instanceWaitingShowView table {
  width: 35em;
  margin: 1em auto;
}
.instanceWaitingShowView .centerButtonsRows {
  display: flex;
  justify-content: center;
}
.instanceWaitingShowView .centerButtonsRows button {
  margin: 0em 2%;
}
.u-disabled {
  display: none;
}
.u-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1,1,1,0.5);
}
.Notify {
  border: solid 1px #f00;
  height: 90px;
  overflow-y: scroll;
  width: 900px;
}
