<h3 class="text-center">Historia Clinica</h3>

<hr>

 {{#if notFound}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-warning center-block" role="alert">
      Historia clínica no encontrada
    </div>
  </div>
</div>
 {{else}}

 <div class="row">
  <div class="col-md-8 col-md-offset-2">
   
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <img class="img-responsive center-block" src="{{image_url}}">
      </div>
    </div>

    <br>

    <table class="table">
      <tr class="active">
        <th colspan="2" class="text-center">Condicion</th>
      </tr>

      <tr>
        <td><strong>Condicion</strong></td>
        <td>
          {{#if self_validating}}
          <span>Autovalido</span>
          {{else}}
          <span>Necesita ayuda</span>
          {{/if}}
        </td>
      </tr>

      <tr class="active">
        <th colspan="2" class="text-center">Discapacidades</th>
      </tr>

      <tr>
        <td>
          <strong>Discapacidad motora</strong>
        </td>
        <td>
          {{#if disability_moto}} 
          <span>{{disability_moto}}</span>
          {{else}}
          <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr>
        <td>
          <strong>Discapacidad visual</strong>
        </td>
        <td>
          {{#if disability_visual}}
          <span>{{disability_visual}}</span>
          {{else}}
          <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr>
        <td>
          <strong>Discapacidad auditiva</strong>
        </td>
        <td>
          {{#if disability_hearing}}
          <span>{{ disability_hearing}}</span>
          {{else}}
          <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr class="active">
        <th colspan="2" class="text-center">Ayuda Asistida</th>
      </tr>

      <tr>
        <td>
          <strong>Baston</strong>
        </td>
        <td>
          {{#if baston}}
          <span> {{baston}}</span>
          {{else}}
            <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr>
        <td>
          <strong>Silla de ruedas</strong>
        </td>
        <td>
          {{#if wheelchair}}
          <span>Si</span>
          {{else}}
          <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr>
        <td>
          <strong>Andadera</strong>
        </td>
        <td>
          {{#if walker}}
            <span>Si</span>
          {{else}}
            <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr>
        <td>
          <strong>Alimentacion asistida</strong>
        </td>
        <td>
          {{#if feeding_assisted}}
            <span>Si</span>
          {{else}}
            <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr>
        <td>
          <strong>Muleta</strong>
        </td>
        <td>
        
          <span>{{muleta}}</span>
         
        </td>
      </tr>

      <tr>
        <td>
          <strong>Pañal</strong>
        </td>
        <td>
          {{#if size_diaper}}
          <span>Talla: {{size_diaper}}</span>
          {{else}}
          <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr class="active">
        <th colspan="2" class="text-center">Datos Clínicos</th>
      </tr>

      <tr>
        <td>
          <strong>Patologia cronica</strong>
        </td>
        <td>
          {{#if pathology_chronic}}
            <p>{{pathology_chronic}}</p>
          {{else}}
          <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr>
        <td>
          <strong>Patologia psiquiatrica</strong>
        </td>
        <td>
          {{#if pathology_psychiatric}}
            <p>{{pathology_psychiatric}}</p>
          {{else}}
          <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr>
        <td>
          <strong>Alergias</strong>
        </td>
        <td>
          {{#if allergies}}
          <p>{{allergies}}</p>
          {{else}}
          <span>No aplica</span>
          {{/if}}
        </td>
      </tr>

      <tr class="active">
        <th colspan="2" class="text-center">Indicadores de calidad de vida</th>
      </tr>

      <tr>
        <td>
          <strong>Indice Kast</strong>
        </td>
        <td>
          <span>{{index_katz}}</span>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Indice de lawton brody</strong>
        </td>
        <td>
          <span> {{index_lawtonbrody}}</span>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Escala cruz roja de incapacidad fisica</strong>
        </td>
        <td>
          <span>{{disability_physical}}</span>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Escala cruz roja de grados de incapacidad psiquica</strong>
        </td>
        <td>
          <span>{{disability_psychic}}</span>
        </td>
      </tr>
    </table>
    
    <div class="row">
      <div class="col-md-1 col-md-offset-4">
        <button class="btn btn-primary" id="recordEdit"><i class="fa fa-edit"></i> Editar</button>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <button class="btn btn-danger" id="recordDelete"><i class="fa fa-trash-o"></i> Eliminar</button>
      </div>
    </div>

    {{/if}}
  </div>
</div>
