<h3 class="text-center"> Registrar Historia</h3>

<hr>

{{#if activiti}}

{{#if recordState}}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-warning center-block" role="alert">
      Este adulto mayor posee historia  clinica aun sin vencer, de agregar un nueva pasara a ser la historia actual
        </div>
      </div>
    </div>
   {{/if}}

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form id="form-record" class="form-horizontal">

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Alergias</label>
            <div class="col-sm-8">
              <textarea class="form-control" name="allergies"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Patologia psiquitrica</label>
            <div class="col-sm-8">
              <textarea class="form-control" name="pathology_psychiatric" ></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Patologia Crónica</label>
            <div class="col-sm-8">
              <textarea class="form-control" name="pathology_chronic"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Talla de pañal</label>
            <div class="col-sm-8">
              <select class="form-control" name="size_diaper">
                <option value="No aplica">No aplica</option>
                <option value="S">Pequeña</option>
                <option value="M">Mediana</option>
                <option value="L">Grande</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Baston</label>
            <div class="col-sm-8">
              <select class="form-control" name="baston">
                <option value="1 point">1 Punto</option>
                <option value="3 point">3 Punto</option>
                <option value="4 point">4 Punto</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Muleta</label>
            <div class="col-sm-8">
              <select class="form-control" name="muleta">
                <option value="canadian">Canadiense</option>
                <option value="auxiliary">Auixiliares</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Discapacidad Motora</label>
            <div class="col-sm-8">
              <select class="form-control" name="disability_moto">
                <option value="No aplica">No aplica</option>
                <option value="Parcial">Parcial</option>
                <option value="Total">Total</option>
              </select>
            </div>
          </div>
  
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Discapacidad Visual</label>
            <div class="col-sm-8">
              <select class="form-control" name="disability_visual">
                <option value="No aplica">No aplica</option>
                <option value="Parcial">Parcial</option>
                <option value="Total">Total</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Discapacidad Auditiva</label>
            <div class="col-sm-8">
              <select class="form-control" name="disability_hearing">
                <option value="No aplica">No aplica</option>
                <option value="Parcial">Parcial</option>
                <option value="Total">Total</option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Indice Kast</label>
            <div class="col-sm-8">
              <select class="form-control" name="index_katz">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Indice de lawton brody</label>
            <div class="col-sm-8">
              <select class="form-control" name="index_lawtonbrody">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Escala cruz roja grados de incapacidad física</label>
            <div class="col-sm-8">
              <select class="form-control" name="disability_physical">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Escala cruz roja grados de incapacidad psiquica</label>
            <div class="col-sm-8">
              <select class="form-control" name="disability_psychic">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Autovalido</label>
            <div class="col-sm-8">
              <input type="checkbox" name="self_validating">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Alimentación Asistida</label>
            <div class="col-sm-8">
              <input type="checkbox" name="self_validating">
            </div>
          </div>
          
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Silla de ruedas</label>
            <div class="col-sm-8">
              <input type="checkbox" name="wheelchair">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Andadera</label>
            <div class="col-sm-8">
              <input type="checkbox" name="walker">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Foto</label>
            <div class="col-sm-8">
              <input class="form-control" type="file" id="recordFile">
            </div>
          </div>
          <br>
          <canvas class="Lienzo center-block"></canvas>
          <br>
          <button class="btn btn-info center-block" type="button" id="recordCamera"><i class="fa fa-camera"></i> Tomar foto</button>
          <br>
          <button class="btn btn-primary center-block" type="submit">Registrar Historia </button>
        </form>
     </div>
   </div>

  <div class="Modal u-disabled u-modal">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <button class="close">x</button>
              <h4>Tomar</h4>
            </div>
            <div class="modal-body">
              <video class="Modal-camera" autoplay width=150 height=150></video>
              <canvas class="Modal-lienzo u-disabled"></canvas>
            </div>
            <div class="modal-footer">
             <div class="Modal-btn">
              <a href="#" id="recordSnap">Tomar foto</a>
             <div class="Modal-btnConf" class="u-disabled">
                <button class="btn btn-info" type="button" id="recordRepeat">Repetir</button>
                <button class="btn btn-primary" type="button" id="recordConfirm">Confirmar</button>
             </div>
             </div>
            </div>
          </div>
      </div>
  </div>

  {{else}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-warning text-center" role="alert">
      Adulto no residente, no puede registrar historia medica.
    </div>
  </div>
</div>
{{/if}}