@require 'leftSidebar/leftSidebar.styl'
@require 'mainContent/mainContent.styl'
@require 'header/header.styl'

.u-disabled {
  display: none;
}

.u-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.5);

}

.Notify {
  border: solid 1px red;
  height: 90px;
  overflow-y: scroll;
  width: 900px
}

.paginationView {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}