<nav class="leftSidebar">
  <div class="input-group searchRow" id="remote">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
    <input type="text" class="typeahead form-control" placeholder="Buscar adulto mayor" aria-describedby="basic-addon1">
  </div>

  <ul class="menu">
    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="title">
          Adultos Mayores
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#instance/register">
              <i class="fa fa-plus"></i>
              <span>Registrar Ingreso</span>
            </a>
          </li>
       </ul>

       <ul class="sub-menu">
          <li>
            <a href="#elders">
              <i class="fa fa-list"></i>
              <span>Residentes</span>
            </a>
          </li>
       </ul>

       <ul class="sub-menu">
          <li>
            <a href="#elders/notResident">
              <i class="fa fa-list"></i>
              <span>No Residentes</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-car"></i>
        </div>
        <div class="title">
          Visitas Sociales
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#instance/waiting">
              <i class="fa fa-hourglass-2"></i>
              <span>Pendientes</span>
            </a>
          </li>

          <li>
            <a href="#instance/">
              <i class="fa fa-list"></i>
              <span>Todas</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-user-md"></i>
        </div>
        <div class="title">
          Citas Médicas
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#citations">
              <i class="fa fa-clock-o"></i>
              <span>Hoy</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-road"></i>
        </div>
        <div class="title">
          Salidas
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#output/">
              <i class="fa fa-clock-o"></i>
              <span>Casuales</span>
            </a>
          </li>

          <li>
            <a href="#output/pernot">
              <i class="fa fa-calendar"></i>
              <span>Pernocta</span>
            </a>
          </li>
          
          <li>
            <a href="#output/waiting">
              <i class="fa fa-calendar-check-o"></i>
              <span>Pernocta Llegada</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-list-alt"></i>
        </div>
        <div class="title">
          Asistencias
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#attendance/">
              <i class="fa fa-sign-in"></i>
              <span>Entrada</span>
            </a>
          </li>

          <li>
            <a href="#attendance/outputs">
              <i class="fa fa-sign-out"></i>
              <span>Salida</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-tags"></i>
        </div>
        <div class="title">
          Actividades
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#action/register">
              <i class="fa fa-plus"></i>
              <span>Registrar</span>
            </a>
          </li>

          <li>
            <a href="#action/today">
              <i class="fa fa-clock-o"></i>
              <span>Hoy</span>
            </a>
          </li>

          <li>
            <a href="#action/list">
              <i class="fa fa-list"></i>
              <span>Todas</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-tags"></i>
        </div>
        <div class="title">
          Eventos
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#event/register">
              <i class="fa fa-plus"></i>
              <span>Registrar</span>
            </a>
          </li>

          <li>
            <a href="#event/list">
              <i class="fa fa-list"></i>
              <span>Listar</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-cubes"></i>
        </div>
        <div class="title">
          Productos
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#product/register">
              <i class="fa fa-plus"></i>
              <span>Registrar</span>
            </a>
          </li>

          <li>
            <a href="#product/list">
              <i class="fa fa-list"></i>
              <span>Listar</span>
            </a>
          </li>
       </ul>
    </li>
  </ul>
</nav>

<div id="container-user" class="mainContent"></div>