<nav class="leftSidebar">

  <div class="mini-header">
    <img class="img-circle center-block" src="{{image_url}}">

    <div class="text-center name">
      <span>{{full_name}}</span>
    </div>
  </div>

  <ol class="breadcrumb">
    <li><a href="#elders"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="#employee/{{id}}"><i class="fa fa-user"></i> Empleado</a></li>
  </ol>

  <ul class="menu">
    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <div class="title">
          Perfil
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
         <li>
            <a href="#employee/{{id}}">
              <i class="fa fa-info"></i>
              <span>Información</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-calendar-o"></i>
        </div>
        <div class="title">
          Horarios
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
         <li>
            <a href="#employee/{{id}}/schedule">
              <i class="fa fa-calendar-plus-o"></i>
              <span>Registrar</span>
            </a>
          </li>

          <li>
            <a href="#employee/{{id}}/schedule/list">
              <i class="fa fa-calendar"></i>
              <span>Horarios</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-calendar-check-o"></i>
        </div>
        <div class="title">
          Asistencias
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
         <li>
            <a href="#employee/{{id}}/attendances">
              <i class="fa fa-list"></i>
              <span>Listar</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-life-saver"></i>
        </div>
        <div class="title">
          Permisos
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
         <li>
            <a href="#employee/{{id}}/permit/">
              <i class="fa fa-plus"></i>
              <span>Registrar</span>
            </a>
         </li>
         <li>
            <a href="#employee/{{id}}/permit/extend">
              <i class="fa fa-plus"></i>
              <span>Registrar (Extendido)</span>
            </a>
          </li>

          <li>
            <a href="#employee/{{id}}/permit/list">
              <i class="fa fa-list"></i>
              <span>Listar</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-cog"></i>
        </div>
        <div class="title">
          Configuracion
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
         <li>
            <a href="#employee/{{id}}/user">
              <i class="fa fa-file-text"></i>
              <span>Cuenta</span>
            </a>
          </li>
       </ul>
    </li>
  </ul>
</nav>
<div id="content-employee" class="mainContent"></div>


