<div class="row">
  <nav class="col-md-3">
    <div class="col-md-12">
      <figure>
        {{image_url}}
      </figure>
    </div>
    <div>
      <button class="btn btn-primary">Inicio</button>
    </div>
    <div>
      <span>{{first_name}} {{last-name}}</span>
    </div>
    <ul>
      <li> Informacion
       <ul>
         <li><a href="">Ver informacion</a></li>
       </ul>
      </li>
      <li> Permisos
       <ul>
         <li><a href="">Registrar Permiso</a></li>
         <li><a href="">Lista de Permisos</a></li>
       </ul>
      </li>
      <li> Usuario
        <ul>
          <li><a href="">Cuenta Usuario</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>