<nav class="leftSidebar">
  <div class="input-group searchRow">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="Buscar adulto mayor" aria-describedby="basic-addon1">
  </div>

  <ul class="menu">
    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-list-alt"></i>
        </div>
        <div class="title">
          Asistencias
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#attendance-date">
              <i class="fa fa-search"></i>
              <span>Consultar</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="title">
          Empleados
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#register">
              <i class="fa fa-plus"></i>
              <span>Registrar</span>
            </a>
          </li>

          <li>
            <a href="#employees">
              <i class="fa fa-list"></i>
              <span>Listar</span>
            </a>
          </li>
       </ul>
    </li>

    <li> 
      <div class="item">
        <div class="icon">
          <i class="fa fa-dashboard"></i>
        </div>
        <div class="title">
          Sistema
        </div>
        <div class="arrow">
        </div>
      </div>

       <ul class="sub-menu">
          <li>
            <a href="#audit">
              <i class="fa fa-database"></i>
              <span>Auditoria</span>
            </a>
          </li>
       </ul>
    </li>
    <li> Configuracion
     <ul>
       <li>
         <a href="#config">Configuracion</a>
       </li>
     </ul>
      
    </li>
  </ul>
</nav>

<div id="container-admin" class="mainContent"></div>