  <div id="remote">
    <input type="text" placeholder='Buscar Adulto Mayor' class="typeahead">
  </div>
  <div class="row">
    <nav class="col-md-3">
      <ul>
        <li> Adulto Mayor
          <ul>
            <li><a href="#instance/register">Registrar Ingreso</a></li>
            <li><a href="#elders">Lista de Residentes</a></li>
            <li><a href="#elders/notResident">Lista de no Residentes</a></li>
          </ul>
        </li>
        <li> Visita Social
          <ul>
            <li><a href="#instance/waiting">Visitas por Confirmar</a></li>
            <li><a href="#instance/">Ver Visitas</a></li>

          </ul>
        </li>
        <li> Citas
          <ul>
            <li><a href="">Hoy</a></li>
          </ul>
        </li>
        <li> Salidas
          <ul>
            <li><a href="#output/">Casuales</a></li>
            <li><a href="#output/pernot">Pernocta</a></li>
             <li><a href="#output/waiting">Pernocta LLegada</a></li>
          </ul>
        </li>
        <li> Asistencias
          <ul>
            <li><a href="#attendance/">Entrada</a></li>
            <li><a href="#attendance/outputs">Salidas</a></li>
          </ul>
        </li>
        <li> Actividades
          <ul>
            <li><a href="#action/register">Registrar Actividad</a></li>
            <li><a href="#action/today">Actividades Hoy</a></li>
            <li><a href="#action/list">Todas las Actividades</a></li>
          </ul>
        </li> 
        <li> Eventos
          <ul>
            <li><a href="#event/register">Registrar Evento</a></li>
            <li><a href="#event/list">Ver Eventos</a></li>
          </ul>
        </li>
        <li> Productos
          <ul>
            <li><a href="#product/register">Registrar Producto</a></li>
            <li><a href="#product/list">Lista de Productos</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9">
   <div id="container-user"></div>
 </div>