<nav class="leftSidebar">
  <div class="imageRow">
    <figure>
      <img src="{{image_url}}">
    </figure>
  </div>
  <div>
    <button class="btn btn-primary">Inicio</button>
  </div>
  <div>
    <span>{{first_name}} {{last-name}}</span>
  </div>
  <ul class="menu">
    <li> Informacion
     <ul>
       <li><a href="#employee/{{id}}">Ver informacion</a></li>
     </ul>
    </li>
    <li> Horario
     <ul>
       <li><a href="#employee/{{id}}/schedule">Registrar Horario</a></li>
       <li><a href="#employee/{{id}}/schedule/list">Lista de Horario</a></li>
     </ul>
    </li>
    <li> Permisos
      <ul>
        <li><a href="#employee/{{id}}/permit/">Registrar Permiso</a>
        </li>
        <li><a href="#employee/{{id}}/permit/extend">Registrar Permiso Extendido</a></li>
        <li><a href="#employee/{{id}}/permit/list">Lista de Permisos</a></li>
      </ul>
    </li>
    <li> Usuario
      <ul>
        <li><a href="">Cuenta Usuario</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div id="content-employee" class="mainContent"></div>
