<nav class="leftSidebar">
  <div class="input-group searchRow">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="Buscar adulto mayor" aria-describedby="basic-addon1">
  </div>
  <ul class="menu">
    <li> <i class="fa fa-user"></i> Asistencias
      <ul>
        <li><a href=""><i class="fa fa-user"></i> Consultar Asistencias</a></li>
      </ul>
    </li>
    <li><i class="fa fa-user"></i> Empleados
      <ul>
        <li><a href="#register"><i class="fa fa-user"></i> Registrar Empleado</a></li>
        <li><a href="#employees"><i class="fa fa-user"></i> Lista de Empleados</a></li>
      </ul>   
    </li>
    <li><i class="fa fa-user"></i> Auditoria
      <ul>
        <li>
          <a href=""><i class="fa fa-user"></i> Auditoria</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div id="container-admin" class="mainContent"></div>