$borderLeftWidth = 5px;

.leftSidebar {
  width: 20em;
  position:fixed;
  bottom: 0;
  top: 4em
  background-color: #467abf
  color: white;
  overflow-y: scroll;
  font-size: 1em;
  border-right: 1px solid rgba(255,255,255,0.35);  
  
  .mini-header {
    padding: 0.50em;
    background-color: #2768BF;
    
    img {
      width: 7em;
      margin: 1em auto;
    }
    
    .name {
      font-weight: 600;
      padding: 0.25em 0em;
      background-color: rgba(0,0,0,0.25)
    }
  }
  
  .searchRow {
    width: 80%;
    margin: 1em auto;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  
    ul {
      list-style: none;
      padding: 0; 
      
    }
    
    &>li:last-child {
      border-bottom: 1px solid rgba(255,255,255,0.35);
    }

    a {
      text-decoration: none;
      color: inherit;
    }
    
    li {
      border-top: 1px solid rgba(255,255,255,0.35);    
    }
    
    .item {
      display: flex;
      padding: 0.50em 0.75em;
      font-weight: 600;
      font-size: 1.1em;
      border-left: $borderLeftWidth solid rgba(255,255,255,0.35);

      .icon {
        margin-right: 0.75em;
      }
    }
    
    .sub-menu {
      li {
        padding: 0em 1.35em;
        border-left $borderLeftWidth solid rgba(255,255,255,0.35);
        font-size: 1em;
        
        a {
          display: block;
          border-left: 1px dashed rgba(255,255,255,0.35);
          padding: 0.50em 1.5em;
          position: relative;
          
          i {
            margin-right: 0.75em;
          }
          
          &:hover {
            font-weight: 600;
            
            &:before {
              content: "";
              display: block;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 3px 0 3px 6px;
              border-color: transparent transparent transparent white;
              position:absolute;
              top: 44%;
              left: -1px;
            }
          }
        }
      }
    }
  }
}