<h3 class="text-center">Empleados</h3>

<hr>

{{#if message}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="alert alert-info center-block" role="alert">
        {{message}}
      </div>
    </div>
  </div>
{{else}}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      <input type="text" class="Search form-control" placeholder="Buscar..." aria-describedby="basic-addon1">
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table employeeTable table-hover">
      <thead>
        <th>Foto</th>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Ver</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{{/if}}