 <h2> Ingresar horario </h2>
  <form id="formEmp-schedule">
   <h4>Seleccione dias</h4>
   <label>Lunes <input type="checkbox" name="monday"> </label>
   <label>Martes <input type="checkbox" name="tuesday"> </label>
   <label>Miercoles<input type="checkbox" name="wednesday"> </label>
   <label>Jueves <input type="checkbox" name="thursday"> </label>
   <label>Viernes <input type="checkbox" name="friday"> </label>
   <label>Sabado <input type="checkbox" name="saturday"> </label>
   <label>Domingo <input type="checkbox" name="sunday"> </label>
   <label for="entry_time">Hora de entrada </label>
   <input type="time" name="entry_time">
   <label for="departure_time">Hora de salida </label>
   <input type="time" name="departure_time">
   <button type="submit">Enviar</button>
  </form>