<h3 class="text-center">Asistencias</h3>

<hr>

{{#if message}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-warning center-block" role="alert">
       <div>
         {{message}}
       </div>
      </div>
    </div>
  </div>
{{else}}


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">
      <thead>
        <th>Estado</th>
        <th>Horario</th>
        <th>Entrada</th>
        <th>Salida</th>
        <th class="col-fit">Permiso</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{{/if}}