.citationNewView {
  
  h3 {
    text-align: center;
    
  }
  form {
    width: 30em;
    margin: auto;
  }
  
  .submitRow {
    display: flex;
    justify-content: center;
  }
  
  .alert {
    width: 40em;
    margin: auto;
  }
}