<h3 class="text-center">Citas de hoy</h3>

<hr>

{{#if message}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="alert alert-warning center-block" role="alert">
        {{message}}
      </div>
    </div>
  </div>
{{else}}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table">
        <thead>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Razon</th>
          <th>Hora</th>
          <th class="col-fit">Ver</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>


{{/if}}