<h3 class="text-center">Citas Pendientes</h3>

<hr>

{{#if message}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="alert alert-warning center-block" role="alert">
        {{message}}
      </div>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table">
        <thead>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Razon</th>
          <th class="optionsColumn">Opciones</th>
          <th class="optionsColumn">Ver</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
{{/if}}