<div>
  <h3>Datos de cita</h3>
</div>

<hr>

{{#if notFound}}
<div class="alert alert-danger" role="alert">
  Cita no encontrada
</div>
{{else}}
<table class="table">
  <tr>
    <td><strong>Fecha</strong></td>
     <td><span>{{date_day}}</span></td>
  </tr>
  <tr>
    <td><strong>Hora</strong></td>
     <td><span>{{hour}}</span></td>
  </tr>
  <tr>
    <td><strong>Razon</strong></td>
     <td><div>{{reason}}</div></td>
  </tr>
  <tr>
    <td><strong>Estado</strong></td>
     <td><span>{{state}}</span></td>
  </tr>
</table>
<div class="buttonsRow">
  {{#if waiting}}
  <button class="btn btn-primary btn-edit"><i class="fa fa-edit"></i> Editar</button>
  {{/if}}
  <button class="btn btn-danger btn-delete"><i class="fa fa-trash-o"></i> Eliminar</button>
</div>

{{/if}}



