  <td><span>{{state}}</span></td>
  <td><span>{{identity_card}}</span></td>
  <td><span>{{full_name}}</span></td>
  <td><span>{{start_time}} - {{departure_time}}</span></td>
  <td>
    {{#if hour_in}}
    <span class="u-data">{{hour_in}}</span>
    {{else}}
    <span class="u-data">No aplica</span>
    {{/if}}
    <input type="time" class="Table-hourIn u-disabled u-submit" value="{{check_in}}">
  </td>
  <td>
    {{#if hour_out}}
    <span class="u-data">{{hour_out}}</span>
    {{else}}
    <span class="u-data">No aplica</span>
    {{/if}}
    <input type="time" class="Table-hourOut u-disabled u-submit" value="{{check_out}}">
  </td>
  <td>
    <button type="button" class="Table-btnEdit btn btn-primary btn-sm u-data"><i class="fa fa-edit"></i></button>
    <div class="Table-btnContent u-submit u-disabled">
      <button type="submit" class="Table-btnSubmit btn btn-primary"><i class="fa fa-save"></i></button>
      <button type="button" class="Table-btnCancel btn btn-danger"><i class="fa fa-times"></i></button>
    </div>
  </td>