<h3 class="text-center">¿Desea agregar informacion adicional?</h3>

<hr>

{{#if notFound}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-warning center-block" role="alert">
      Salida no encontrada
    </div>
  </div>
</div>
{{else}}

  {{#if state}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form id="output-confirm" class="form-horizontal">

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Información Adicional</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="info"> {{info}}</textarea>
          </div>
        </div>

        <div class="col-md-1 col-md-offset-4">
          <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Guardar</button>
        </div>
        <div class="col-md-1 col-md-offset-1">
          <button class="btn btn-danger btn-cancel" type="button"><i class="fa fa-times"></i> Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  {{else}}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-warning center-block" role="alert">
          Salida no ha sido confirmada
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}
