<h3 class="text-center">Registrar Salida</h3>

<hr>
{{#if activiti}}

<form class="form-horizontal" id="output-register">
  <input class="hidden" type="hidden" name="type" value="normal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Informacion Adicional (opcional)</label>
    <div class="col-sm-8">
      <textarea class="form-control" name="info"></textarea>
    </div>
  </div>

  <button class="btn btn-primary center-block">Registrar Salida</button>
</form>

{{else}}

<div class="alert alert-warning " role="alert">
  Adulto no residente, no puede registrar salida.
</div>

{{/if}}