<h3 class="text-center">Salidas</h3>

<hr>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      <input type="text" class="Search form-control" aria-describedby="basic-addon1">
    </div>
    <table class="table">
      <thead>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Salida</th>
        <th>Ver</th>
        <th>Confirmar</th>
      </thead>
      <tbody>
      
      </tbody>
    </table>
    
  </div>
</div>