.instanceWaitingShowView {
  .panel {
    width: 35em;
    margin: auto;
  }
  
  h3 {
    text-align: center;
  }
  
  table {
    width: 35em;
    margin: 1em auto;
  }
  
  .centerButtonsRows {
    display: flex;
    justify-content: center
    
    button {
      margin: 0em 2%
    }
  }
}