{{#if notFound}}
    <div>
      <p>Evento no encontrado</p>
    </div>
  {{else}}
  <div>
    <div>
      <h3>Informacion de Evento</h3>
    </div>
    <ul>
      <li><strong>Nombre de eventos</strong> <span>{{name}}</span></li>
      <li><strong>Fecha</strong> <span>{{date_start}}</span></li>
      {{#if entry_time}}
      <li><strong>Hora de inicio</strong> <span>{{entry_time}}</span></li>
      {{/if}}
      {{#if date_end}}
      <li><strong>Hasta</strong> <span>{{date_end}}</span></li>
      {{/if}}
      {{#if departure_time}}
      <li><strong>Hora de Fin</strong> <span>{{departure_time}}</span></li>
      {{/if}}
    </ul>
    {{#if description}}
      <strong>Descripcion</strong>
      <p>{{description}}</p>
    {{/if}}
    <div>
      <button class="btn btn-primary btn-edit">Editar</button>
      <button class="btn btn-danger btn-delete">Eliminar</button>
    </div>
  </div>
  {{/if}}