{{#if notFound}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-warning center-block" role="alert">
        Evento no encontrado
      </div>
    </div>
  </div>
{{else}}
  <h3 class="text-center">Informacion de Evento</h3>
  
  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table">
        <tr>
          <td>
            <strong>Nombre de evento</strong>
          </td>
          <td>
            <span>{{name}}</span></tr>
          </td>
        <tr>
          <td>
            <strong>Fecha</strong>
          </td>
          <td>
            <span>{{date_start}}</span></tr>
          </td>
        {{#if entry_time}}
        <tr>
          <td>
            <strong>Hora de inicio</strong>
          </td>
          <td>
            <span>{{entry_time}}</span></tr>
          </td>
        {{/if}}
        {{#if date_end}}
        <tr>
          <td>
            <strong>Hasta</strong>
          </td>
          <td>
            <span>{{date_end}}</span></tr>
          </td>
        {{/if}}
        {{#if departure_time}}
        <tr>
          <td>
            <strong>Hora de Fin</strong>
          </td>
          <td>
            <span>{{departure_time}}</span></tr>
          </td>
        {{/if}}

        {{#if description}}
            <td>
              <strong>Descripcion</strong>
            </td>
            <td>
              {{description}}
             </td>
        {{/if}}
      </table class="table">

      <div class="row">
        <div class="col-md-1 col-md-offset-4">
          <button class="btn btn-primary btn-edit"><i class="fa fa-edit"></i> Editar</button>
        </div>
        <div class="col-md-1 col-md-offset-1">
          <button class="btn btn-danger btn-delete"><i class="fa fa-trash-o"></i> Eliminar</button>
        </div>
      </div>

    </div>
  </div>
{{/if}}