<form id="form-event">
    <input type="text" name="name" placeholder="Nombre del evento">
    <label for="date_start">Inicio</label>
    <input type="date" name="date_start">
    <label for="entry_time">Hora de Inicio</label>
    <input type="time" name="entry_time">
    <label for="departure_time">Hora de Fin</label>
    <input type="time" name="departure_time">
    <button class="btn btn-primary u-data btn-config" type="button">+ Finalización</button>
    <label for="date_end" class="u-disabled u-data">Finalizacion</label>
    <input type="date" name="date_end" class="u-disabled u-data">
    <button class="btn btn-primary u-disabled u-data btn-config" type="button">Ocultar</button>
    <label for="description">Descripcion</label>
    <textarea name="description"></textarea>
    <button type="submit">Enviar</button>
</form>