  <td>
    <span>{{name}}</span>
  </td>
  <td>
    {{#if entry_time}}
    <span>{{entry_time}}</span>
    {{else}}
    <span>No aplica</span>
    {{/if}}
  </td>
  <td>
    {{#if departure_time}}
    <span>{{departure_time}}</span>
    {{else}}
    <span>No aplica</span>
    {{/if}}
  </td>
  <td>
    {{#if date_end}}
    <span>{{date_end}}</span>
    {{else}}
    <span>No aplica</span>
    {{/if}}
  </td>
  <td>
   <button class="btn btn-info ben-default btn-sm" id="eventShow"><i class="fa fa-eye"></i></button>
  </td>