  <div>
    <h3>Notificacion de Ingreso</h3>
  </div>
 <form id="form-instance">
    <input type="text" placeholder="Cedula" name="identity_card">
    <label for="address">Direccion de visita</label>
    <textarea name="address"></textarea>
    <label for="referred">Referido por</label>
    <select name="referred">
      <option value="presidency_inass">Presidencia del Inass</option>
      <option value="social_welfare">Gerencia de Bienestar Social</option>
      <option value="health">Gerencia de Salud</option>
      <option value="cssr">Director del C.S.S.R</option>
      <option value="other">Otros</option>
    </select>
    <label for="visit_date">Fecha de visita social</label>
    <input type="date" name="visit_date">
    <label for="description">Descripcion</label>
    <textarea name="description" cols="30" rows="10"></textarea>
    <button type="submit">Registrar</button>
 </form>