<div>
  <h3>
    Editar Visita Social
  </h3>
</div>
<form id="instance-edit">
  <label for="address">Direccion de visita</label>
  <textarea name="address">{{address}}</textarea>
  <label for="referred">Referido por</label>
  <select name="referred">
    <option value="presidency_inass" {{selected referred "presidency_inass"}}>Presidencia del Inass</option>
    <option value="social_welfare" {{selected referred "social_welfare"}}>Gerencia de Bienestar Social</option>
    <option value="health" {{selected referred "health"}}>Gerencia de Salud</option>
    <option value="cssr" {{selected referred "cssr"}}>Director del C.S.S.R</option>
    <option value="other" {{selected referred "other"}}>Otros</option>
  </select>
  <label for="description">Descripcion</label>
  <textarea name="description" cols="30" rows="10">
    {{description}}
  </textarea>
  <button type="submit">Editar</button>
</form>








