 {{#if notFound}}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-warning center-block" role="alert">
          Actividad no encontrada
        </div>
      </div>
    </div>
  {{else}}

  <h3 class="text-center">Informacion de Actividad</h3>

  <hr>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table">
        <tr>
          <td>
            <strong>Nombre</strong>
          </td>
          <td>
            {{name}}
          </td>
        </tr>
        
        <tr>
          <td>
            <strong>Descripción</strong>
          </td>

          <td>
            {{description}}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <div class="col-md-1 col-md-offset-4">
          <button class="btn btn-primary btn-edit"><i class="fa fa-edit"></i> Editar</button>
        </div>
        <div class="col-md-1 col-md-offset-1">
          <button class="btn btn-danger btn-delete"><i class="fa fa-trash-o"></i> Eliminar</button>
        </div>
      </div>

      <br>
      <br>

      <h3 class="text-center"> 
        Horarios 
        <button class="btn btn-primary btn-xs btn-addHour"><i class="fa fa-plus"></i> Agregar</button> 
      </h3>

      <hr>
      {{#if message}}
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <div class="alert alert-warning center-block" role="alert">
              {{message}}
            </div>
          </div>
        </div>
      {{else}}
      <table class="table">
        <thead>
          <tr>
            <th>
              Dias
            </th>
            <th>
              Hora de entrada
            </th>
            <th>
              Hora de salida
            </th>
            <th>
              Eliminar
            </th>
          </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
      {{/if}}
    </div>
  </div>
{{/if}}
