<h3 class="text-center"> Editar Incidencia </h3>

<hr>

{{#if notFound}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-warning center-block" role="alert">
        Incidencia no encontrada
      </div>
    </div>
  </div>
{{else}}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form id="form-editOccurrence" class="form-horizontal">

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Fecha</label>
          <div class="col-sm-8">
            <input class="form-control" type="date" value="{{old_date}}" name="date">
          </div>
        </div>
        
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Fecha de incidencia</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="case_situation">{{case_situation}}</textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">Fecha de incidencia</label>
          <div class="col-sm-8">
            <input class="form-control" type="file" class="Form-file">
          </div>
        </div>

        <br>
        <button class="Form-btnCamera btn btn-info center-block" type="button"><i class="fa fa-camera"></i> Tomar foto</button>
        <br>
        <canvas class="Lienzo center-block"></canvas>
        <br>
        <button class="btn btn-primary center-block">Actualizar Información</button>
      </form>
    </div>
  </div>
  
  <div class="Modal u-disabled u-modal">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <button class="close">x</button>
              <h4>Tomar</h4>
            </div>
            <div class="modal-body">
              <video class="Modal-camera" autoplay width=150 height=150></video>
              <canvas class="Modal-lienzo u-disabled"></canvas>
            </div>
            <div class="modal-footer">
             <div class="Modal-btn">
              <a href="#" class="Modal-snap">Tomar foto</a>
             <div class="Modal-btnConf" class="u-disabled">
                <button class="Modal-repeat" type="button">repiter foto</button>
                <button class="Modal-btnPic" type="button">cofirmar</button>
             </div>
             </div>
            </div>
          </div>
      </div>
   </div>
{{/if}}