<div>
  <h3>
    Editar Incidencia
  </h3>
</div>
{{#if notFound}}
  <div>
    <p>Incidencia no Encontrada</p>
  </div>
{{else}}
<form id="form-editOccurrence">
  <label for="date">Fecha</label>
  <input type="date" value="{{old_date}}" name="date">
  <label for="case_situation"> Situacion del Caso</label>
  <textarea name="case_situation">
    {{case_situation}}
  </textarea>
  <button class="Form-btnCamera btn btn-info" type="button">Tomar foto</button>
  <button class="btn btn-success">Enviar</button>
</form>
 <canvas class="Lienzo"></canvas>
  <div class="Modal u-disabled u-modal">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <button class="close">x</button>
              <h4>Tomar</h4>
            </div>
            <div class="modal-body">
              <video class="Modal-camera" autoplay width=150 height=150></video>
              <canvas class="Modal-lienzo u-disabled"></canvas>
            </div>
            <div class="modal-footer">
             <div class="Modal-btn">
              <a href="#" class="Modal-snap">Tomar foto</a>
             <div class="Modal-btnConf" class="u-disabled">
                <button class="Modal-repeat" type="button">repiter foto</button>
                <button class="Modal-btnPic" type="button">cofirmar</button>
             </div>
             </div>
            </div>
          </div>
      </div>
   </div>
{{/if}}