<h3 class="text-center">Informacion de Incidencia</h3>

<hr>

{{#if notFound}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-warning center-block" role="alert">
        No se encuentra la incidencia
      </div>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <img class="img-responsive center-block" src="{{image_url}}">
        </div>
      </div>

      <br>

      <table class="table">
        <tr>
          <td>
            <strong>Fecha</strong>
          </td>
          <td>
           <span>{{date}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Situacion del Caso</strong>
          </td>
          <td>
            <p>{{case_situation}}</p>
          </td>
        </tr>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-md-offset-4">
      <button class="btn btn-primary btn-edit"><i class="fa fa-edit"></i> Editar</button>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <button class="btn btn-danger btn-delete"><i class="fa fa-trash-o"></i> Eliminar</button>
    </div>
  </div>

{{/if}}