{{#if user.role}}
  <div class="logedHeader">
    <div class="sysName">
      {{config.name_institution}}
    </div>

    <div class="flexer">
    </div>

    <div class="icon-noty">
      <a href="#">
        <i class="fa fa-user"></i>
      </a>
      {{#if user.output}}
      <span class="mini-badge">
        {{output}}
      </span>
      {{/if}}
    </div>

    <div class="icon-noty">
      <a href="#">
        <i class="fa fa-user-md"></i>
      </a>
      {{#if user.citation}}
      <span class="mini-badge">
        {{user.citation}}
      </span>
      {{/if}}
    </div>

    <div class="icon-noty">
      <a href="#">
        <i class="fa fa-car"></i>
      </a>
      {{#if user.instance}}
      <span class="mini-badge">
        {{user.instance}}
      </span>
      {{/if}}
    </div>

    <div class="accountSettings">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.email}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-power-off"></i> Cerrar Session</a></li>
        </ul>
      </div>
    </div>
  </div>
{{else}}
<div class="loginHeader">
  <div class="sysName">
    {{config.name_institution}}
  </div>

  <form id="login" class="form-inline">

    <div class="form-group">
      <label for="inputEmail3">Correo&nbsp;</label>
        <input class="form-control" type="email" name="email">
    </div>
    
    &nbsp;
    &nbsp;

    <div class="form-group">
      <label for="inputEmail3">Contraseña&nbsp;</label>
      <input class="form-control" type="password" name="password"> 
    </div>

    &nbsp;
    &nbsp;

    <button class="btn btn-primary" type="submit">Iniciar sesión</button>
  </form>
</div>
{{/if}}