<div>
  <h3>Editar Configuraciones</h3>
</div>

<form id="configuration">
  <label for="name_institution">Nombre de Institucion</label>
  <input type="text" name="name_institution" value="{{name_institution}}">
  <label for="max_hours">Cantidad maxima de horas de trabajo</label>
  <input type="text" name="max_hours" value="{{max_hours}}">
  <label for="max_permits">Cantidad maxima de permisos por mes</label>
  <input type="number" name="max_permits" value="{{max_permits}}">
  <label for="max_impeachment">Cantidad maxima residentes</label>
  <input type="number" name="max_impeachment" value="{{max_impeachment}}">
  <button type="submit">Enviar</button>
</form>