<h3 class="text-center">Adultos No Residentes</h3>

<hr>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      <input type="text" class="Search form-control" placeholder="Buscar..." aria-describedby="basic-addon1">
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
     <table class="table elderNotResidentListTable">
        <thead>
         <tr>
          <th>Foto</th>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Perfil</th>
         </tr>
        </thead>
        <tbody>
        </tbody>
     </table>
  </div>
</div>
