.citationShowView {
  h3 {
    text-align: center
  }
  
  table {
    width: 30em;
    margin: 1em auto;
  }
  
  .buttonsRow {
    display: flex;
    justify-content: center;
    
    button {
      margin: 0em 2%
    }
  }
}