{{#if notFound}}

<div>
  <h3>Registrar Cuenta</h3>
</div>
<form id="register-user">
  <input type="email" placeholder="Nombre de usuario" name="email">
  <input type="password" placeholder="Contraseña" name="password">
  <label for="role">Rol</label>
   <select name="rol">
    <option value="1">administrador</option>
    <option value="2">usuario</option>
   </select>
  <button type="submit">Enviar</button>
</form>

{{else}}

<div>
  <h3>Cuenta Usuario</h3>

  <div>
    <strong>Email</strong> <span>{{email}}</span>
  </div>
  <div>
    <strong>Rol</strong> <span>{{rol}}</span>
  </div>
  <div>
    <button class="btn btn-primary btn-edit">Editar</button>
    <button class="btn btn-delete">Eliminar</button>
  </div>
</div>