.elderShowView {
  
  h3 {
    text-align: center;
  }
  
  .alert {
    min-width: 30em;
    max-width: 40em;
    margin: auto;
  }
  
  .table {
    min-width: 30em;
    max-width: 45em;
    margin: 1em auto;
  }
  
  .buttonsRow {
    display: flex;
    justify-content: center;
    

    button {
      margin: 0em 5%;
    }
  }
}